html{
	background-color: #E0E0E0;
	color: black;
}


li{
	display: inline-block;
	padding: 4px 25%;
	width: 50%;
	position: center;
	text-align: center;
}
h3{
	display: inline-block;
	padding: 4px 25%;
	width: 50%;
	position: center;
	text-align: center;
}